<.flash flash={@flash} kind={:info} />
<.flash flash={@flash} kind={:error} />

<.connection_status>
  Re-establishing connection...
</.connection_status>

<.live_component module={SlayPlayWeb.LayoutComponent} id="layout" />

<%= live_render(@socket, SlayPlayWeb.PlayerLive, id: "player", session: %{}, sticky: true) %>

<main class="w-full relative">
  <%= @inner_content %>
</main>
