<.flash flash={@flash} kind={:info} />
<.flash flash={@flash} kind={:error} />

<.connection_status>
  Re-establishing connection...
</.connection_status>

<.live_component module={SlayPlayWeb.LayoutComponent} id="layout" />

<main class="container-full">
  <%= @inner_content %>
</main>
